DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=odoo_pos_cafe
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=720
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://192.168.29.203:3000
